/UnityStudio/[Ll]ibrary/
/UnityStudio/[Tt]emp/
/UnityStudio/[Oo]bj/
/UnityStudio/[Ll]ogs/
/UnityStudio/[Uu]ser[Ss]ettings/
/UnityStudio/[Bb]uilds/
/UnityStudio/[Bb]uild/
/UnityStudio/Data/
/UnityStudio/Assets/UMA/
/UnityStudio/Assets/UMA.meta
/UnityStudio/Assets/UMAProjectData/
/UnityStudio/Assets/UMAProjectData.meta
/Downloads/
/Logs/
*.csproj
*.sln
*.slnx
*.user
.vs/